.contacts {
	width: 100vw;
	height: 100vh;
    background-size: cover;
}

.map img{
	width: 100vw;
	height: 100vh;
}


.footer {
	display: flex;
	position: absolute;
	top: -40px;
	width: 100vw;
	background-color: black;
}