.reviews .section-title {
	display: none;
}

.reviews {
	display: flex;
	flex-direction: row;
}

.reviews__list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
}

.reviews__item {
	width: 25%;
	height: 50%;
	filter: grayscale(100%);
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	&:hover {
		.reviews-content {
			opacity:1;
			}
		}			

		@include tablets {
			width: 50%;
			height: 25%;
		}
  
}


.reviews-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background: rgba(#141414, .7);
	transition: .3s;
	padding: 1.25rem;

}


.reviews__name {
	margin: 1.875rem 0 1.5625rem 0;
	font-family: Gagalin, sans-serif;
}

.reviews__text {
	margin-bottom: 1.5625rem;
	font-family: Ubuntu Light, sans-serif;
	line-height: 1.5;
}
